@page
@model Cust__omer.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row mt-5">
        <div class="offset-md-2 col-md-6">
            <div class="row mb-5">
                <div class="col-md-8 pt-2">
                    <h5 class="">Company details</h5>
                </div>
                <div class="col-md-4">
                    <div class="d-grid gap-2">
                        <a asp-page="./Edit" asp-route-id="@Model.Company.Id" class="btn btn-info btn-small text-white">Edit</a>
                    </div>
                </div>
            </div>

            <div class="card border-info">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Company.Name)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Company.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Company.Address)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Company.Address)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>