@page
@model Cust__omer.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row mt-5">
        <div class="offset-md-1 col-md-10">
            <div class="row mb-5">
                <div class="col-md-8 pt-2">
                    <h5 class="">Customer details</h5>
                </div>
                <div class="col-md-4">
                    <div class="d-grid gap-2">
                        <a asp-page="./Edit" asp-route-id="@Model.Customer.Id" class="btn btn-info btn-small text-white">Edit</a>
                    </div>
                </div>
            </div>
            <div class="card card-outline-info">
                <div class="card-body p-4">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Customer.FirstName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Customer.FirstName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Customer.LastName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Customer.LastName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Customer.EmailAddress)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Customer.EmailAddress)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Customer.PhysicalAddress)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Customer.PhysicalAddress)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Customer.PhoneNumber)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Customer.Company)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Customer.Company.Address)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
